@media (max-width: 920px) {
    .heading-title{
        font-size: 2rem;
    }

    .comments {
        .container{
            .logo-block {
                width: 100%;
            }  
        }
    }
    
    .new-design {
        height: 645px;

        &-bg-grey {
            width: 100%;
        }

        .container {
            .new-design-block {
                width: 100%;
            }
        }
    }
}
